<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-installapp" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>InstallApp</name>
    <description>Install app</description>
    <js-module name="InstallApp" src="www/InstallApp.js">
        <clobbers target="cordova.InstallApp"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="InstallApp">
                <param name="android-package" value="com.cty.cordova.appinstaller.InstallApp"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
            <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
          <provider
              android:name="androidx.core.content.FileProvider"
              android:authorities="${applicationId}.provider"
              android:exported="false"
              android:grantUriPermissions="true" >
              <meta-data
                  android:name="androidx.core.FILE_PROVIDER_PATHS"
                  android:resource="@xml/provider_paths"/>
          </provider>
        </config-file>
        <source-file src="src/android/InstallApp.java" target-dir="src/com/cty/cordova/appinstaller"/>
        <!--
           cordova-plugin-camera has the same file, will get error. "\res\xml\provider_paths.xml" already exists!-->
            <source-file src="src/android/xml/provider_paths.xml" target-dir="res/xml" />
        
    </platform>
</plugin>
